.loginStyle {
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    width:100%;
    margin-top: 20px;
}

input {
    width: 10rem;
    height: 34px;
    font-size: 15px;
    border-radius: 5px;
    border: grey solid 1px;
    font-weight: inherit;
    color: darkgray;
    padding-left: 10px;
    margin: 10px;
}

button {
    margin: 10px;
}

.loginStyle button{
    height:34px;
}

.desktopDisplay2 {
    display: flex;
}

@media (max-width: 1023px) {
    .tabletDisplay {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .tabletDisplay2 {
        display: flex;
        justify-content: center;
    }

    .tabletButtonDisplay {
        width: 300px;
    }
}

@media (max-width:500px) {
    .mobileDisplay {
        flex-direction: column;
    }

    .mobileButtonDisplay {
        width: 10rem;
        justify-content: center;
    }
}


