.MuiSvgIcon-root-74 {
    color: #fff;
}

.drawerIconStyle {
    display: flex;
    justify-content: flex-start;
}

.MuiAppBar-colorPrimary-8 {
    background: #2185d0 !important;
}

.MuiButton-root-39:hover {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0) !important;
}